<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505679665067-1c8kt1avl8v42v8j5pjjm6jie4l6g19k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505679665067-1c8kt1avl8v42v8j5pjjm6jie4l6g19k</string>
	<key>API_KEY</key>
	<string>AIzaSyAczYwiPzfv8hfrj-qSiOU67px_QQBu2J4</string>
	<key>GCM_SENDER_ID</key>
	<string>505679665067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imageFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-c29c0</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-c29c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505679665067:ios:c1627bdc586ca7cfea24ee</string>
</dict>
</plist>